<link rel="stylesheet" href={~p"/assets/home.css"}>

<div class="max-w-xl mx-auto mt-20 p-6 bg-gray-50 rounded-lg shadow home-container">
  <h2 class="text-2xl font-bold mb-4">Obrigado por utilizar a nossa newsletter!</h2>
  <p class="mb-4">Adicione seu email para se manter sempre informado:</p>

  <%= subscribe_form assigns %>

  <%= if @flash[:info] do %>
    <p class="flash-info"><%= @flash[:info] %></p>
  <% end %>
</div>